@charset "UTF-8";
/*!
 * Vuetify.js Custom
 *
 * Appendix
 * - Vuetify UI Guide Link: https://github.com/nuxt-community/vuetify-module#customvariables
 *
 * Copyright © 2021-2022 ADCAPSULE
 */

select {
    width:100%;
    border:1px solid rgba(255,255,255,0.2);
    color:#fff;
    option { 
      background-color:#000;
    }
  }

header {
  border-bottom:1px solid #999; margin-bottom:1em; padding-bottom:1em;
  h1 {font-size:16px; color:white;}
}

.theme--dark {
  a {
    color:#fff;
  }
}

.chapter {
    padding:1em;
    .chapter_lst {
      > li {
        margin-bottom:15px;
        list-style-type: none;
      }
      .version {
        font-size:18px;
        font-weight:bold;
      }
    }
  }
