@charset "UTF-8";

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Roboto', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', '맑은 고딕', 'malgun gothic', 'Microsoft NeoGothic', 'Droid sans', sans-serif !default;

$toolbar-content-padding-x: 20px;
// $toolbar-content-padding-y: 0;

// 확장 패널 패딩 제거
$expansion-panel-header-padding: 0;
$expansion-panel-content-padding: 0;

// v-list 고정 패딩 제거
$list-padding: 0;

// 버튼 스타일
$btn-sizes: (
    'x-small': 28,
    'small': 36,
    'default': 40,
    'large': 48,
    'x-large': 64
);
$btn-font-sizes: (
    'x-small': 12px,
    'small': 12px,
    'default': 12px,
    'large': 16px,
    'x-large': 16px
);
$btn-letter-spacing: 0;
